<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--服务器IP地址-->
    <add key ="SERVER_IP" value="114.215.98.144" />
    <!--服务器端口号-->
    <add key ="SERVER_PORT" value="8200"/>
    <add key ="LOCAL_PORT" value ="8100"/>
    <!--本地库房编号-->
    <add key ="LOCAL_WH_CODE" value="105" />
  </appSettings>
</configuration>